beautifulsoup4==4.4.1
boto==2.42.0
chardet==2.3.0
defusedxml==0.4.1
dj-database-url==0.4.1
Django==1.9
django-cleanup==1.0.1
django-storages==1.5.1
future==0.15.2
gunicorn==19.6.0
html5lib==0.999
lxml==3.5.0
mercurial==3.7.3
numpy==1.11.0
Pillow==3.4.2
psycopg2==2.7.1
pyliblzma==0.5.3
six==1.10.0
SOAPpy==0.12.22
whitenoise==3.2.2
wstools==0.4.3
