/* COLOR THEME

#0C5AA6 light blue
#679ED2 dark blue
#E4E4E4 light-grey
#FF9700 dark orange
#FFB140 light orange
*/


/* FONTS */

@font-face {
    font-family: 'aaarghnormal';
    src: url('../fonts/Aaargh-webfont.eot');
    src: url('../fonts/Aaargh-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Aaargh-webfont.woff') format('woff'),
         url('../fonts/Aaargh-webfont.ttf') format('truetype'),
         url('../fonts/Aaargh-webfont.svg#aaarghnormal') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
  height: 100%;
}

body {
	background-image: linear-gradient(0deg, #0C5AA6, #679ED2);
    background-repeat: no-repeat;
    background-attachment: fixed;
	font-family:"aaarghnormal";
    min-height: 100%;
}

h1 {
	color : #FFB140;
}

h2 {
	color : #679ED2;
}

h3 {
	color : #FF9700;
}

h4 {
	margin-top: 0px;
	color:#FF9700;
}

a {
	color :inherit;
}

a:hover {
	text-decoration:none;
	color: inherit;
}

.container {
	background-color : white;
}

.carousel-inner h3 {
	color : white;
}

/* HEADER */

.containerHeader {
	padding-left:0px;
	padding-right:0px;
}

nav {
	padding-left : 15px;
	padding-right : 15px;
}

.navbar {
	border-radius : 0px 0px 5px 5px;
}

/*SECTION */

.no-gap-left {
	padding-left: 0px;
}

.no-gap-right {
	padding-right: 0px;
}

.gap-bottom {
	padding-bottom:10px;
}

.paginationSection { /*for the paginasition to be center*/
	width : 170px;
	margin-right:auto;
	margin-left:auto;
}

@media (max-width: 767px) { /* unset previous class and add padding bottom for sx size */
	.no-gap-left, .no-gap-right {
		padding-left:10px;
		padding-right:10px;
		padding-bottom:10px;

	}
}

/* Archives app */

.unstyled-list{
	list-style : none;
}

/* Actualités app */

@media (min-width: 767px) {
.articleSearchBar {
	width : 250px;
	margin-right : auto;
	margin-left : auto;
	}
}

/* ASIDE */

aside{
	background-color: #E4E4E4;
	border-radius : 0px 0px 0px 5px;
}

aside h2{
	color : white;
}
.asideHeader{
	background-color : grey;
	border-radius : 5px 0px 0px 0px;
}

.miniArticle{
	padding-top:10px;
	transition:1s;
}

.miniArticle:hover{
	background-color:grey;
	color : white;
}

.navbar-form .form-control {
	width:80px;
}

@media (max-width: 767px) {/* the 2 above limits size of the search bar for xs size */
	.navbar-form .form-control{
	width:auto;


	}
}
.inline-form input {
    display: inline-block;
    width: 150px;
}

@media (min-width: 767px ) and (max-width: 990px ) {
	.asideSearchBar{ /* space between the searchbar and the button in md size only */
		margin-bottom : 10px;
	}
}

/* FOOTER */

.footer{
	background-color:#222;
	border-top : solid black 1px;
	padding-top : 10px;
	padding-bottom:0px;
	color : #9d9d9d;
}
.wrapper{
	display:inline-block;
	margin-right : 10px;
}

.addresse{
	text-align:center;
}

.addresse p{
	display: inline-block;
	padding-left: 8px;
	margin : 0px;
}

.lien{ /* wrappe all list button and center */
	width : 300px;
	margin : auto;
}

.btn-lg {
    width: 50px;
    height: 50px;
    border-radius: 25px;
}
.icone-8 {
	font-size:12px;
	margin-bottom:5px;
}

/* speciale class for while sm size*/
@media (max-width: 767px) {
	.lien{ /* space between addresse and links */
		padding-top:10px;
	}
	.icone-8{/* space between links and icone8 href */
	margin-top:10px;
}
}

/* Images */
.img-center {
    margin:0 auto;
}
